@use "@/assets/styles/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.App {}

a.active {
	color: $tertiaryColor;
	background-color: $backgroundColor;
}
